$aui-shadow1: rgba(9,30,66,0.13);
$aui-shadow2: rgba(9,30,66,0.25);
$aui-blanket: rgba(23,43,77,0.45);
$aui-body-text: #172b4d;
$aui-lesser-body-text: #5e6c84;
$aui-lesser-header-text: #6b778c;
$aui-body-background: #f4f5f7;
$aui-page-background: #fff;
$aui-page-border: #dfe1e6;
$aui-border: #dfe1e6;
$aui-border-strong: #7a869a;
$aui-focus: #4c9aff;
$aui-link-color: #0052cc;
$aui-link-decoration: none;
$aui-link-hover-color: #0065ff;
$aui-link-active-color: #0747a6;
$aui-link-hover-decoration: underline;
$aui-link-visited-color: #403294;
$aui-itemheading-text: #5e6c84;
$aui-item-bg: transparent;
$aui-item-text: #42526e;
$aui-item-focus-bg: rgba(9, 28, 58, 0.08);
$aui-item-focus-text: #42526e;
$aui-item-active-text: #0052cc;
$aui-item-active-bg: #deebff;
$aui-item-selected-bg: var($aui-item-focus-bg);
$aui-item-selected-text: var($aui-item-focus-text);
$aui-item-disabled-bg: transparent;
$aui-item-disabled-text: #7a869a;
$aui-tooltip-bg-color: rgba(52,69,99,0.9);
$aui-tooltip-border-color: rgba(52,69,99,0.9);
$aui-tooltip-content-text-color: #dfe1e6;
$aui-tooltip-title-text-color: #fff;
$aui-help-color: #5243aa;
$aui-badge-bg-color: rgba(9,30,66,0.13);
$aui-badge-text-color: #172b4d;
$aui-badge-primary-bg-color: #0052cc;
$aui-badge-primary-text-color: #fff;
$aui-badge-added-bg-color: #e3fcef;
$aui-badge-addded-text-color: #064;
$aui-badge-removed-bg-color: #ffebe6;
$aui-badge-removed-text-color: #bf2600;
$aui-badge-important-bg-color: #de350b;
$aui-badge-important-text-color: #fff;
$aui-badge-on-blue-text-color: #fff;
$aui-badge-on-blue-bg-color: hsla(0,0%,100%,0.25);
$aui-lozenge-bg-color: #42526e;
$aui-lozenge-text-color: #fff;
$aui-lozenge-subtle-bg-color: #dfe1e6;
