// cover some element-ui styles

// custom button color
.el-button--info {
  color: $buttonText;
  background-color: $buttonBg;
  border-color: $buttonBg;
}
.el-button--info.is-active,
.el-button--info:active {
  color: $buttonText;
  background: $buttonHoverBg;
  border-color: $buttonHoverBg;
}
.el-button--info:focus,
.el-button--info:hover {
  color: $buttonHoverText;
  background: $buttonHoverBg;
  border-color: $buttonBg;
}

// custom selector
.el-select {
  width: calc(100% - 4px);
  height: 30px;
  margin: 2px;
  border-radius: 1px;
  .el-input--suffix {
    height: 100%;
    .el-select__caret {
      font-size: 20px;
    }
    .el-input__wrapper {
      border-radius: 1px;
      padding: 1px 8px;
      .el-input__inner {
        font-size: 13px;
        border-color: #DCDFE6
      }
      .el-input__suffix {
        height: 30px;
      }
    }
  }
}
.el-select-dropdown {
  border: 0;
  border-radius: 2px;
  .el-select-dropdown__item {
    height: 28px;
  }
  .el-select-dropdown__item span {
    font-size: 13px;
  }
}
