// cover some element-ui styles

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// custom button color
.el-button--goon {
  color: #344563e5;
  background-color: #f4f5f7;
  border-color: #f4f5f7;
}
.el-button--goon.is-active,
.el-button--goon:active {
  color: #344563e5;
  background: #dfe1e5;
  border-color: #f4f5f7;
}
.el-button--goon:focus,
.el-button--goon:hover {
  color: #0065ff;
  background: #dfe1e5;
  border-color: #f4f5f7;
}

// custom selector
.el-select {
  width: calc(100% - 4px);
  height: 30px;
  margin: 2px;
  border-radius: 1px;
  .el-input--suffix {
    height: 100%;
    .el-select__caret {
      font-size: 20px;
    }
    .el-input__wrapper {
      border-radius: 1px;
      padding: 1px 8px;
      .el-input__inner {
        font-size: 13px;
        border-color: #DCDFE6
      }
      .el-input__suffix {
        height: 30px;
      }
    }
  }
}
.el-select-dropdown {
  border: 0;
  border-radius: 2px;
  .el-select-dropdown__item {
    height: 28px;
  }
  .el-select-dropdown__item span {
    font-size: 13px;
  }
}
