#app {
  .main-container {
    min-width: 100%;
    height: calc(100% - #{$navbarHeight});
    transition: margin-left .28s;
    position: relative;
    background-color: $bodyBg;
    .app-container {
      height: 100%;
    }
  }
}
