#app {
  .navbar-container {
    transition: width 0.28s;
    height: $navbarHeight;
    width: 100%;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    background-color: $menuBg;
    .navbar {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        width: $logoWidth;
        text-align: left;
        overflow: hidden;
        .navbar-logo {
          width: 36px;
          height: 36px;
          margin-left: 10px;
          text-align: left;
        }
      }
      .router {
        height: 100%;
        width: calc(100% - #{$logoWidth} - #{$languageWidth} - #{$profileWidth});
        .menu {
          height: 100%;
          border: none;
          background-color: $menuBg;
          .el-menu-item {
            color: $menuText;
            font-weight: 600;
            font-size: 15px;
            &:hover {
              color: $menuHoverText;
              background-color: $menuHoverBg;
            }
          }
          .el-menu-item.is-active {
            color: $menuActiveText !important;
            background-color: $menuActiveBg;
            border-bottom: none;
          }
        }
      }
      .language {
        width: $languageWidth;
        .el-dropdown-link {
          cursor: pointer;
          color: #ffffff;
          display: flex;
          align-items: center;
        }
      }
      .profile {
        width: $profileWidth;
        text-align: right;
        margin-right: 15px;
        .el-dropdown-link {
          cursor: pointer;
          color: #ffffff;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  // mobile responsive
  .mobile {
    .navbar-container {
      transition: transform .28s;
      height: $navbarHeight;
    }
  }
}

