/* global settings */
// main color
$mainColor: #00acc1;
// text color
$textColor: #606266;
// hover color
$hoverBg: #effbff;
// navbar
$menuBg: #fff;
$menuText: #9b9b9b;
$menuActiveBg: #fff;
$menuActiveText: #00acc1;
$menuHoverBg: #fff;
$menuHoverText: #555a64;
$navbarHeight: 56px;
$logoWidth: 100px;
$infoWidth: 400px;
// body
$bodyBg: #fff;
$bodyText: #5e6c84;
$bodyActiveText: #0065ff;

/* part settings*/
//actionbar
$toolbarHeight: 30px;
$toolbarBg: #f4f5f7;
$availableIconColor: #00acc1;
$unavailableIconColor: #909399;
// resize
$resizeBg: #f4f5f7;
$resizeHoverBg: #e6eaee;
$leftResizeWidth: 5px;
$rightResizeWidth: 1px;
// tree with
$treeDefaultWidth: 350px;
// fold with
$foldWidth: 32px;
$foldIconColor: #b2b3b7;
$foldIconHoverColor: #00acc1;
// keyword group with
$keywordWidth: 260px;
// entity
$entityGridWidth: 104px;
$entityGridHeight: 104px;

:export {
  mainColor: $mainColor;
  textColor: $textColor;
  hoverBg: $hoverBg;
  resizeBg: $resizeBg;
  resizeHoverBg: $resizeHoverBg;
  leftResizeWidth: $leftResizeWidth;
  rightResizeWidth: $rightResizeWidth;
  treeDefaultWidth: $treeDefaultWidth;
  foldWidth: $foldWidth;
  keywordWidth: $keywordWidth;
}
