// navbar
$menuBg: #42526e;
$menuText: #fff;
$menuActiveBg: #091E4214;
$menuActiveText: #0065ff;
$menuHoverBg: #263445;
$menuHoverText: #bfcbd9;
$logoWith: 80px;
$profileWith: 70px;
$navbarHeight: 45px;
// body
$bodyBg: #fff;
$bodyText: #5e6c84;
$bodyActiveText: #0065ff;
//toolbar
$toolbarHeight: 30px;
$toolbarBg: #dfe1e6;

:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveBg: $menuActiveBg;
  menuActiveText: $menuActiveText;
  menuHoverBg: $menuHoverBg;
  menuHoverText: $menuHoverText;
  bodyBg: $bodyBg;
  toolbarHeight: $toolbarHeight;
  toolbarBg: $toolbarBg;
}
