/* global settings */
// main color
$mainColor: #00acc1;
// navbar
$menuBg: #00acc1;
$menuText: #fff;
$menuActiveBg: #091e4214;
$menuActiveText: #08ee64;
$menuHoverBg: #3f6f9f;
$menuHoverText: #08ee64;
$logoWidth: 100px;
$languageWidth: 80px;
$profileWidth: 150px;
$navbarHeight: 45px;
// body
$bodyBg: #fff;
$bodyText: #5e6c84;
$bodyActiveText: #0065ff;

/* part settings*/
//actionbar
$toolbarHeight: 30px;
$toolbarBg: #f4f5f7;
$availableIconColor: #00acc1;
$unavailableIconColor: #909399;
// resize
$resizeBg: #f4f5f7;
$resizeHoverBg: #e6eaee;
$leftResizeWidth: 5px;
$rightResizeWidth: 5px;
// tree with
$treeDefaultWidth: 25%;
// fold with
$foldWidth: 32px;
$foldIconColor: #b2b3b7;
$foldIconHoverColor: #00acc1;
// keyword group with
$keywordWidth: 250px;
// entity
$entityGridWidth: 104px;
$entityGridHeight: 104px;

:export {
  mainColor: $mainColor;
  resizeBg: $resizeBg;
  resizeHoverBg: $resizeHoverBg;
  leftResizeWidth: $leftResizeWidth;
  rightResizeWidth: $rightResizeWidth;
  treeDefaultWidth: $treeDefaultWidth;
  foldWidth: $foldWidth;
  keywordWidth: $keywordWidth;
}
