// navbar
$menuBg: #42526e;
$menuText: #fff;
$menuActiveBg: #091E4214;
$menuActiveText: #0065ff;
$menuHoverBg: #263445;
$menuHoverText: #bfcbd9;
$logoWith: 80px;
$profileWith: 70px;
$navbarHeight: 45px;
// body
$bodyBg: #fff;
$bodyText: #5e6c84;
$bodyActiveText: #0065ff;
//actionbar
$toolbarHeight: 30px;
$toolbarBg: #f4f5f7;
// resize
$resizeBg: #dfe1e5;
//button
$buttonBg: #f4f5f7;
$buttonText: #344563e5;
$buttonHoverBg: #dfe1e5;
$buttonHoverText: #0065ff;

:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveBg: $menuActiveBg;
  menuActiveText: $menuActiveText;
  menuHoverBg: $menuHoverBg;
  menuHoverText: $menuHoverText;
  bodyBg: $bodyBg;
  toolbarHeight: $toolbarHeight;
  toolbarBg: $toolbarBg;
  resizeBg: $resizeBg;
  buttonBg: $buttonBg;
  buttonText: $buttonText;
  buttonHoverBg: $buttonHoverBg;
  buttonHoverText: $buttonHoverText;
}
