//button color
$buttonBg: #f4f5f7;
$buttonText: #344563e5;
$buttonHoverBg: #dfe1e5;
$buttonHoverText: #0065ff;

// custom button style
.el-button--info {
  color: $buttonText;
  background-color: $buttonBg;
  border-color: $buttonBg;
}
.el-button--info.is-active,
.el-button--info:active {
  color: $buttonText;
  background: $buttonHoverBg;
  border-color: $buttonHoverBg;
}
.el-button--info:focus,
.el-button--info:hover {
  color: $buttonHoverText;
  background: $buttonHoverBg;
  border-color: $buttonBg;
}
