@import "../variables.module.scss";
//button color
$buttonBg: #edeff0;
$buttonText: #606266;
$buttonHoverBg: #ffffff;
$buttonHoverText: #00acc1;

$infoButtonBg: #00acc1;
$infoButtonText: #ffffff;
$infoButtonHoverBg: #03879aff;
$infoButtonHoverText: #ffffff;

$primaryButtonBg: $mainColor;
$primaryButtonText: #ffffff;
$primaryButtonHoverBg: #ffffff;
$primaryButtonHoverText: $mainColor;

// custom button style
.el-button {
  color: $buttonText;
  background-color: $buttonBg;
  border-color: $buttonBg;
}
.el-button.is-active,
.el-button:active {
  color: $buttonText;
  background: $buttonHoverBg;
  border-color: $buttonHoverBg;
}
.el-button:focus,
.el-button:hover {
  color: $buttonHoverText;
  background: $buttonHoverBg;
  border-color: $buttonHoverText;
}

//.el-button--info {
//  color: $infoButtonText;
//  background-color: $infoButtonBg;
//  border-color: $infoButtonBg;
//}
//.el-button--info.is-active,
//.el-button--info:active {
//  color: $infoButtonText;
//  background: $infoButtonHoverBg;
//  border-color: $infoButtonHoverBg;
//}
//.el-button--info:focus,
//.el-button--info:hover {
//  color: $infoButtonHoverText;
//  background: $infoButtonHoverBg;
//  border-color: $infoButtonBg;
//}

.el-button--primary {
  color: $primaryButtonText;
  background-color: $primaryButtonBg;
  border-color: $primaryButtonBg;
}
.el-button--primary.is-active,
.el-button--primary:active {
  color: $primaryButtonText;
  background: $primaryButtonHoverBg;
  border-color: $primaryButtonHoverBg;
}
.el-button--primary:focus,
.el-button--primary:hover {
  color: $primaryButtonHoverText;
  background: $primaryButtonHoverBg;
  border-color: $primaryButtonBg;
}
