@import "../variables.module.scss";
//button color
$buttonBg: #edeff0;
$buttonText: #606266;
$buttonHoverBg: #ffffff;
$buttonHoverText: #00acc1;

$primaryButtonBg: $mainColor;
$primaryButtonText: #ffffff;
$primaryButtonHoverBg: #ffffff;
$primaryButtonHoverText: $mainColor;

$warningButtonBg: #fa7d03;
$warningButtonText: #ffffff;
$warningButtonHoverBg: #ffffff;
$warningButtonHoverText: #fa7d03;

$successButtonBg: #7ad835;
$successButtonText: #ffffff;
$successButtonHoverBg: #ffffff;
$successButtonHoverText: #7ad835;

$dangerButtonBg: #ff484c;
$dangerButtonText: #ffffff;
$dangerButtonHoverBg: #ffffff;
$dangerButtonHoverText: #ff484c;

$infoButtonBg: #6c757d;
$infoButtonText: #ffffff;
$infoButtonHoverBg: #ffffff;
$infoButtonHoverText: #6c757d;

// custom button style
.el-button {
  color: $buttonText;
  background-color: $buttonBg;
  border-color: $buttonBg;
}
.el-button.is-active,
.el-button:active {
  color: $buttonText;
  background: $buttonHoverBg;
  border-color: $buttonHoverBg;
}
.el-button:focus,
.el-button:hover {
  color: $buttonHoverText;
  background: $buttonHoverBg;
  border-color: $buttonHoverText;
}

.el-button--primary {
  color: $primaryButtonText;
  background-color: $primaryButtonBg;
  border-color: $primaryButtonBg;
}
.el-button--primary.is-active,
.el-button--primary:active {
  color: $primaryButtonText;
  background: $primaryButtonHoverBg;
  border-color: $primaryButtonHoverBg;
}
.el-button--primary:focus,
.el-button--primary:hover {
  color: $primaryButtonHoverText;
  background: $primaryButtonHoverBg;
  border-color: $primaryButtonBg;
}

.el-button--warning {
  color: $warningButtonText;
  background-color: $warningButtonBg;
  border-color: $warningButtonBg;
}
.el-button--warning.is-active,
.el-button--warning:active {
  color: $warningButtonText;
  background: $warningButtonHoverBg;
  border-color: $warningButtonHoverBg;
}
.el-button--warning:focus,
.el-button--warning:hover {
  color: $warningButtonHoverText;
  background: $warningButtonHoverBg;
  border-color: $warningButtonBg;
}

.el-button--success {
  color: $successButtonText;
  background-color: $successButtonBg;
  border-color: $successButtonBg;
}
.el-button--success.is-active,
.el-button--success:active {
  color: $successButtonText;
  background: $successButtonHoverBg;
  border-color: $successButtonHoverBg;
}
.el-button--success:focus,
.el-button--success:hover {
  color: $successButtonHoverText;
  background: $successButtonHoverBg;
  border-color: $successButtonBg;
}

.el-button--danger {
  color: $dangerButtonText;
  background-color: $dangerButtonBg;
  border-color: $dangerButtonBg;
}
.el-button--danger.is-active,
.el-button--danger:active {
  color: $dangerButtonText;
  background: $dangerButtonHoverBg;
  border-color: $dangerButtonHoverBg;
}
.el-button--danger:focus,
.el-button--danger:hover {
  color: $dangerButtonHoverText;
  background: $dangerButtonHoverBg;
  border-color: $dangerButtonBg;
}

.el-button--info {
  color: $infoButtonText;
  background-color: $infoButtonBg;
  border-color: $infoButtonBg;
}
.el-button--info.is-active,
.el-button--info:active {
  color: $infoButtonText;
  background: $infoButtonHoverBg;
  border-color: $infoButtonHoverBg;
}
.el-button--info:focus,
.el-button--info:hover {
  color: $infoButtonHoverText;
  background: $infoButtonHoverBg;
  border-color: $infoButtonBg;
}
