//custom selector
:deep(.el-select) {
  display: inline-block;
  .el-select__caret {
    font-size: 16px;
  }
  .el-input__wrapper {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    .el-input__inner {
      font-size: 14px;
      background: $toolbarBg;
      color: $mainColor;
    }
    .el-input__suffix {
      display: none;
      background: $toolbarBg;
    }
  }
  .el-input--suffix.is-focus{
    box-shadow: none;
  }
}
