@font-face {
  font-family: "iconfont"; /* Project id 3795284 */
  src: url('iconfont.woff2?t=1669558368921') format('woff2'),
       url('iconfont.woff?t=1669558368921') format('woff'),
       url('iconfont.ttf?t=1669558368921') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  margin-left: 1px;
  font-style: normal;
  vertical-align: -10%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont:hover {
  color: #00acc1;
}

.icon-download:before {
  content: "\e74d";
}

.icon-edit:before {
  content: "\e7e1";
}

.icon-a-additionfile-line:before {
  content: "\e9d1";
}

.icon-a-addline-line:before {
  content: "\e9d2";
}

.icon-a-cloudupload-line:before {
  content: "\e9de";
}

.icon-a-folderadd-line:before {
  content: "\e9eb";
}

.icon-a-morevertical-line:before {
  content: "\e9f4";
}

